// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashed1{
    width: 30%;
    text-align: center;
    border:5px dotted #0D6EFD ;
    border-bottom: none;
    margin: auto;
    background-color: transparent;
}

header{
    .container{
        

        nav{
            
            .container-fluid{
                font-size: 20px;
                .navbar-brand{
                    font-size: x-large;
                    transition: .1s;
                    img{
                        width: 30px;
                        margin-bottom: 10px;
                    }
                    &:hover{
                        transform: scale(1.03);
                    }
                }
            }
            

            .collapse{
                
                ul{
                    .butt{
                        text-align: center;
                        border-radius: 50px 0 50px 50px;
                        background-color: #0D6EFD;
                        color: white;
                    }
                    li{
                        
                        a{
                            background-color: rgba(0,0,0,0.02);
                            border-radius: 10px;
                            &:hover{
                                background-color: rgba(0,0,0,0.2);
                                color: white;
                            }

                        }
                        
                        
                    }
                }
            }
        }

        
        .banner-vid{
            width: 100%;
            height: 60vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
     
            video{
                position: absolute;
                top: 0;
                left: 0cm;
                width: 100%;
                height: 60vh;
                object-fit: cover;
                pointer-events: none;
                margin-top: 60px;
     
            }
     
            .txt{
                
                position: relative;
                z-index: 1;
                margin: 0 auto;
                
                font-family: 'Bebas Neue', cursive;              text-align: center;
                border-radius: 0 60px 60px 60px;
                padding: 20px;
                color: white;
                background-color: rgba(0,0,0,0.1);
                p{
                    display: none;
                }
               
     
            }

            &::after {
                content: "";
                clear: both;
                display: table;

              }
     
        }
        
        

        .banner{
            margin-top: 80px;

            
            .row{
                .leftcol{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    .leftcol-body{
                        h1{
                            color: #0D6EFD;
                            padding-bottom: 10px;
                        }
                        p{
                            text-align: justify;
                        }
                        .box{
                            margin-top: 40px;
                        }

                        button{
                            border-radius: 0 50px 50px 50px;
                        }
                    }
                }

                .rightcol{
                    .rightcol-body{
                        padding: 15px;
                        position: relative;
                        z-index: 1;
                        
                        img{
                            width: 100%;
                            border-radius: 60px 60px 0 60px;
                           
                        }
                        .txt{
                            width: 80%;
                            position: absolute;
                            z-index: 2;
                            opacity: 0;
                            top: 20%;
                            left: 10%;

                            .txt1{
                                padding: 10px;
                                color: white;
                                background-image: linear-gradient(rgba(0,0,0,0.4), black);
                                border-radius: 50px 50px 0 50px;
                                
                               
                            }
                        }

                        &:hover .txt{
                            opacity: 1;
                        }

                    }
                }

                .input-box{
                    box-shadow: 0 4px 7px .1px black;
                    border-radius: 10px;
                    transition: .2s;

                    &:hover{
                        box-shadow: 0 4px 7px 1px black;
                        transform: scale(1.06);
                    }

                    .firstcol{
                        select{
                            border: none;
                        }
                        
                        .search-btn{
                            .btn{
                                border-radius: 50px;
                            }
                        }
                    }
                }
            }
        }

        

    }


}

main{

    .slide-banner{
        border-radius: 0 60px 60px 60px;
       
        img{
            border-radius: 0 60px 60px 60px;
            
        }
        .carousel-caption{
            background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9));
            border-radius: 0 60px 60px 60px;
        }
    }

    .about{
       
        .row{







            
            .leftcol{
                .leftcol-body{
                    padding: 15px;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    
                    img{
                        width: 100%;
                        border-radius:  0 60px 60px 60px;
                        
                    }
                    .txta{
                        width: 80%;
                        position: absolute;
                        z-index: 2;
                        top: 10%;
                        left: 10%;
                        opacity: 0;
                        

                        .txt1{
                            padding: 10px;
                            color: white;
                            background-image: linear-gradient(rgba(0,0,0,0.4), black);
                            border-radius:0 50px 50px 50px;
                            
                           
                        }
                    }

                    &:hover .txta{
                        opacity: 1;
                    }

                }
            }

            .rightcol{
                .ss{
                    display: flex;
                    .cc{
                        margin: 10px;
                    }
                    .dd{
                        margin: 10px;
                    }
                }
                
                .tgl{
                    text-decoration: none;
                }
                .play-logo{

                    text-decoration: none;
                    font-size: 50px;
                    
                }
                
            }
        }
    }

    .cards{
        padding: 20px;
        .card{
            margin-bottom: 10px;
            box-shadow: 0 0 5px 1px;
            border-radius: 50px 0 50px 0;
            transition: .2s;
            &:hover{
                transform: scale(1.04);
                border-radius: 0 50px 0 50px;
                box-shadow: 0 0 10px 3px;
            }
            .card-body{

                .icn{
                display: flex;
                justify-content: center;
                }
                
                
            }
        }
    }

    #properties{
        .row{
            .col{
                .card{
                    box-shadow: 0 0 10px 1px;
                    transition: .2s;
                    &:hover{
                        transform: scale(1.03);
                        box-shadow: 0 0 10px 2px;
                    }
                    img{
                        border-radius: 0 40px 0 50px;
                        box-shadow: 0 0 10px 1px;
                    }
                }
            }
        }
    }

    .ring{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e3edf7;

        .skill{

            width: 160px;
            height: 160px;
            position: relative;
            .outer{
                width: 160px;
                height: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2), 
                            -6px -6px 10px -1px rgba(255,255,255,0.72);
                            
                .inner{
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #e3edf7;
                    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                                inset -4px -4px 6px -1px rgba(255,255,255,0.72),
                                -0.5px -0.5px 0px rgba(255,255,255,0.1),
                                0.5px 0.5px 0px rgba(0,0,0,0.08),
                                0px 12px 10px -10px rgba(0, 0, 0, 0.05);

                    #number{
                        font-weight: 700;
                    }

                }
    
            }

            svg{
                position: absolute;
                top: 0;
                left: 8%;
                circle{
                    fill: none;
                    stroke: url(#GradientColor);
                    stroke-width: 20px;
                    stroke-dasharray: 472;
                    stroke-dashoffset: 472;
                    animation: anim 3s linear forwards;
                    @keyframes anim {
                        100%{
                            stroke-dashoffset: 150;
                        }
                        
                    }
                }
            }
        }
    }

    
// cards in carousel with img.jpg Starts

    #exclusive{
        
        background-color: #e3edf7;
        .carousel{

            background-color:#334756 ;

            .carousel-inner{
                margin-left: 10px;

                .carousel-item{
                    padding: 4%;
                    .outer-row{
                        h4{
                            margin-top: 20px;
                            margin-bottom: 50px;
                        }
                        .row{
                            margin-bottom: 100px;
                            a{
                                text-decoration: none;
                                color: white;
                                
                            .f1{
                                background-color: #2C394B;
                                p{
                                    padding: 10px;
                                }

                                transition: .4s;

                                &:hover{
                                    transform: scale(1.1);
                                    box-shadow: 0 0 8px 5px white;

                                }
                            }
                            }
                        }
                    }

                }

            }

        }

    }

// cards in carousel with img.jpg ends

    
}

footer{
    .body{
        background-color: #212529;
        color: white;
        
        padding-bottom: 20px;

        .frt{
            .frt-body{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: x-large;
                        font-style: italic;
                    }
                }
            }
        }
    }
}





@media  screen and (min-width:620px) {
    

    /* For desktop: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
    
    [class*="col-"]{
        float: left;
    }

    header{
         nav{
                padding-left: 10%;
                padding-right: 10%;
            }
            
    }
    
    main{
        .slide-banner{
            height: 50vh;
            img{
                height: 50vh;
            }
        }
    }
    
    
    }



@media  screen and (min-width:990px){

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    
    
    [class*="col-"]{
        float: left;
    
    }
    
    header{
        .container{

            nav{
                padding-left: 10%;
                padding-right: 10%;
            }


            .banner-vid{
                width: 100%;
                height: 90vh;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0px;
         
                video{
                    position: absolute;
                    top: 0;
                    left: 0cm;
                    width: 100%;
                    height: 90vh;
                    object-fit: cover;
                    pointer-events: none;
                    margin-top: 60px;
         
                }
         
                .txt{
                    
                    position: relative;
                    z-index: 1;
                    margin: 0 auto;
                    
                    font-family: 'Bebas Neue', cursive;              text-align: center;
                    border-radius: 0 60px 60px 60px;
                    padding: 20px;
                    color: white;
                    background-color: rgba(0,0,0,0.1);
                    p{  
                        display: block;
                        text-align: left;
                        font-size: 1.6rem;
                    }
                   
         
                }
    
                &::after {
                    content: "";
                    clear: both;
                    display: table;
    
                  }
         
            }



            .banner{
                .row{
                    .leftcol{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 15px;
                        .leftcol-body{
                            h1{
                                color: #0D6EFD;
                            }
                            p{
                                text-align: justify;
                            }
                        }
                    }

                    .rightcol{
                        .rightcol-body{
                            padding: 15px;
                            width: 100%;
                            
                            img{
                                width: 100%;
                                border-radius: 90px 90px 0 90px;
                                
                            }
                            .txt{
                                position: absolute;
                                z-index: 2;
                                
                                padding-right: 30px;
                                padding-left: 4px;
                                top: 30px;
                                left: 70px;
                                opacity: 0;
                                
    
                                .txt1{
                                    padding: 20px;
                                    color: white;
                                    background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2));
                                    border-radius: 50px 50px 0 50px;
                                    
                                   
                                }
                            }
    
                            &:hover .txt{
                                opacity: 1;
                            }
    
                        }
                    }
    
                    .input-box{
                        box-shadow: 0 4px 7px .1px black;
                        border-radius: 90px;

                        
                    }



                }
            }
    
        }
    
    
    }

    main{
        .slide-banner{
            height: 90vh;
            img{
                height: 90vh;
            }
        }
    }

    footer{
        hr{
            display: none;
        }
    }
    
    
    
}


